
body{
    margin : 1em 0 1em 0;
    width : 100%;
    height : 100vh;
    background: #eeeeee
}
header{
    text-align: center;
    font-size:40px;
    color:#23cf5d;
}
#register-container{
  display: flex;
  flex-direction: column;
  align-items:center;
}
#register{
   
}
p{
    margin-block-start:0.1em;
    margin-block-end: 0.1em;
    font-size: 1em;
}
.input-container {
    width: 400px
}
.inputText {
    display: flex;
    width: 100%;
    height: 35px;

}

.inputText > input{
    width:100%;
    height:30px;
    box-sizing: content-box; /*bootstrap*/
}
.inputText > input:focus{
    outline: none;
    border: 1px solid #23cf5d;
    
}
.inputText > select:focus{
    outline:none;
    border: 1px solid #23cf5d;
}
.inputText > select[name=birthMonth]{
    width:100%;
    height:36px;
    margin : 0px 3px;
}

.inputText > select[name=gender]{
    width:100%;
    height:36px;
}
.terms-container{
    width: 400px;
}

/*버튼*/
.btn-container{
    display: flex;
    justify-content: space-around;
    width:400px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#23cf5d;
    border: none;
    color: white;
    text-align: center;
    margin: 5px 5px;
    cursor: pointer;  
}
.btn.btn-disabled{
    background-color:#999999;

}
.btn.btn-small{
    width:6em;
    height: 2em;
    font-size:15px
}
.btn.btn-middle{
    width:9em;
    height:3em;
    font-size: 25px;
}

.terms{
    resize: none;
    width: 100%;
    height: 70%;
}
/*태그 관련*/
.tags-input{
    display: inline-block;
    width:100%;
    min-height: 35px;
    background-color: #ffffff;
    border : 1px solid #cfcfcf;
    
}
.tags-input input{
    /* width: 100%; */
    min-height:25px;
    border: 0px;
    margin: 1px;
}
.tag{
    display: inline-block;
    min-width : 1em;
    background-color : #cccccc;
    font-size: 100%;
    margin: 0.2em 0.2em 0.2em 0.2em;
    cursor:pointer;
    padding : 0.2em 0.1em 0.2em 0.1em;
    border-radius: 0.5em;
}


/*
footer
*/
footer{
    font-size: 1em;
    text-align: center;

    position: relative;
    background-color:#aaaaaa;
    
    top:7em;
    height: 4em;
}