body{
    background: #eeeeee
}
#register-container{
  display: flex;
  flex-direction: column;
  align-items:center;
}
#register{
    text-align: center;
    font-size:40px;
    color:#23cf5d;
}
p{
    margin-block-start:0.1em;
    margin-block-end: 0.1em;
    font-size: 1em;
}
.input-container {
    width: 400px
}
.inputText {
    display: flex;
    width: 100%;
    height: 35px;

}

.inputText > input{
    width:100%;
    height:30px;
   
}
.inputText > input:focus{
    outline: none;
    border: 1px solid #23cf5d;
    
}
.inputText > select:focus{
    outline:none;
    border: 1px solid #23cf5d;
}
.inputText > select[name=birthMonth]{
    width:100%;
    height:36px;
    margin : 0px 3px;
}

.inputText > select[name=gender]{
    width:100%;
    height:36px;
}
.terms-container{
    width: 400px;
}

/*버튼*/
.btn-container{
    display: flex;
    justify-content: flex-start;
    width:400px;
}
.btn{
    background-color:#23cf5d;
    border: none;
    color: white;
    text-align: center;
    margin: 5px 5px;
    cursor: pointer;  
}
.btn.btn-middle{
    width:200px;
    height:60px;
    font-size: 25px;
}
