doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/register.css')
    link(rel='stylesheet', href='./stylesheets/modal.css')
    link(rel='stylesheet', href='./stylesheets/loginpage.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body  
    block content
    script(type='module', src='./js/header.js')
    script(type='module', src='./js/utils.js')
    script(type='module', src='./js/footer.js')
    script(type='module', src='./js/main.js')
    script(type='module', src='./js/register.js')
    script(src='//code.jquery.com/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type='module', src='./js/login.js')
    script(type='module', src='/js/render.js')
    script(type="module").
      import {router} from "./js/render.js";
      router.render(`#{address}`);

    
  


