nav {
    display: flex;
    flex-direction: column;
    background-color : #5a96ff;
}
.navigator{
    display: flex;   
    justify-content: space-between;
    padding : 0.7em
}
nav > span {
    max-width: 300px
}
nav .menu{
    background-color : #dce9ff;
}
nav li{
    list-style:none;
}
.logo{

}
