body{
  width : 100%;
  height : 100%;
  background: #eeeeee
}

/* a {
  color: #00B7FF;
} */

/*버튼*/
.btn-container{
  display: inline-flex;
  justify-content: center;
  width:100%;
}
.btn{
  background-color:#23cf5d;
  border: none;
  color: white;
  text-align: center;
  margin: 5px 5px;
  cursor: pointer;  
}
.btn.btn-disabled{
  background-color:#999999;

}
.btn.btn-small{
  width:6em;
  height: 2em;
  font-size:1em;
}
.btn.btn-middle{
  width:6em;
  height:2em;
  font-size: 1.8em;
}